<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Lec02 Get!</h1>

  <div>[[${login_user}]]</div>

  <p th:if="${users}">
    <a>エントリー</a>
  <ul>
    <li th:each="user : ${users}"><a th:href="@{/lec02/match(id=${user.id})}"> [[${user.name}]]</a></li>
  </ul>
  </p>

  <p>
    <a href="/lec02/Gu">ぐー</a>
    <a href="/lec02/Choki">ちょき</a>
    <a href="/lec02/Pa">ぱー</a>
  </p>

  <div>
    [[${you}]]<br>
    [[${cpu}]]<br>
    [[${result}]]<br>
  </div>

  <p th:if="${matches}">
    <a>試合状況</a>
  <div th:each="match : ${matches}">
    id=[[${match.id}]] user1=[[${match.user1}]] user2=[[${match.user2}]] user1Hand=[[${match.user1Hand}]]
    user2Hand=[[${match.user2Hand}]]
  </div>
  </p>

</body>

</html>
