<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Lec02 Get!</h1>

  <div>[[${login_user}]]</div>

  <h2>エントリー</h2>
  <p th:if="${users}">
  <ul>
    <li th:each="user : ${users}"><a th:href="@{/lec02/match(id=${user.id})}"> [[${user.name}]]</a></li>
  </ul>
  </p>

  <h2>アクティブな試合</h2>
  <p th:if="${matchinfos}">
  <div th:each="matchinfo : ${matchinfos}">
    id:[[${matchinfo.id}]] user1:[[${matchinfo.user1}]] user2:[[${matchinfo.user2}]] isActive:[[${matchinfo.isActive}]]
  </div>
  </p>

  <h2>試合状況</h2>
  <p th:if="${matches}">
  <div th:each="match : ${matches}">
    id=[[${match.id}]] user1=[[${match.user1}]] user2=[[${match.user2}]] user1Hand=[[${match.user1Hand}]]
    user2Hand=[[${match.user2Hand}]]
  </div>
  </p>

</body>

</html>
