<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Lec02 Get!</h1>

  <a>
    <div th:if="${entry}">
      エントリー
      <ul>
        <li th:each="user : ${entry.users}">[[${user}]]</li>
      </ul>
    </div>
  </a>


  <div>[[${login_user}]]</div>
  <p>
    <a href="gu">ぐー</a>
    <a href="ch">ちょき</a>
    <a href="pa">ぱー</a>
  </p>
  <div>
    [[${you}]]<br>
    [[${cpu}]]<br>
    [[${result}]]<br>
  </div>
</body>

</html>
