<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Match</h1>

  <h2>[[${my.name}]] V.S. [[${you.name}]]</h2>

  <p>
    <a th:href="@{/lec02/match1(te=${'Gu'},my=${my.id},you=${you.id})}">ぐー</a>
    <a th:href="@{/lec02/match1(te=${'Choki'},my=${my.id},you=${you.id})}">ちょき</a>
    <a th:href="@{/lec02/match1(te=${'Pa'},my=${my.id},you=${you.id})}">ぱー</a>
  </p>

  <a href="/lec02/step2">もどる</a>
</body>

</html>
